{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>
                <h1 class="text-uppercase" style="font-size: 36pt;">{{ .Site.Params.see_more.title | markdownify }}</h1>
                <h3 class="lead" style="font-size: 30pt;">{{ .Site.Params.see_more.subtitle | markdownify }}</h3>
                <h4 class="lead" style="font-size: 18pt;">会場：北海道大学　フロンティア応用科学研究棟・鈴木章ホール</h4>
                <h4 class="lead" style="font-size: 18pt;">主催：第51回生体分子科学討論会実行委員会</h4>
                <h4 class="lead" style="font-size: 18pt;">共催：北海道大学大学院地球環境科学研究院</h4>
                <p class="text-center">
                    {{ with .Site.Params.see_more.link_url }}
                    <a href="{{ . }}" class="btn btn-template-transparent-black btn-lg" style="font-size: 16pt;">
                    {{ end }}
                        {{ with .Site.Params.see_more.link_text }}
                        {{ . | markdownify }}
                        {{ end }}
                    {{ with .Site.Params.see_more.link_url }}
                    </a>
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
